api_sistemas_distribuidos/db.sqlite3
api_sistemas_distribuidos/.env
api_sistemas_distribuidos/apps/customers/__pycache__
api_sistemas_distribuidos/apps/customers/migrations
api_sistemas_distribuidos/apps/editRecords/__pycache__
api_sistemas_distribuidos/apps/editRecords/migrations
api_sistemas_distribuidos/apps/home/__pycache__
api_sistemas_distribuidos/apps/home/migrations
api_sistemas_distribuidos/apps/login/__pycache__
api_sistemas_distribuidos/apps/login/migrations
api_sistemas_distribuidos/apps/myAccount/__pycache__
api_sistemas_distribuidos/apps/myAccount/migrations
api_sistemas_distribuidos/apps/products/__pycache__
api_sistemas_distribuidos/apps/products/migrations
api_sistemas_distribuidos/apps/stores/__pycache__
api_sistemas_distribuidos/apps/stores/migrations
api_sistemas_distribuidos/apps/users/__pycache__
api_sistemas_distribuidos/apps/users/migrations
api_sistemas_distribuidos/api_sistemas_distribuidos/__pycache__
